/* Global Styles */

/* Define color palette using CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --background-color: #F2F5F6;
    --text-color: #333;
}

/* Apply global styles */
* {
    font-family:'Lato','sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hero Section */

.hero{
    display: flex;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F6;
    .hero-content{
        display: flex;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
        @media (max-width:760px) {
            display: flex;
            flex-direction: column;
        }
        .hero-headings{
            @media (max-width:760px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
            h1{
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                letter-spacing: -2%;
                span{
                    color: #043A53;
                }
            }
            p{
                padding: 0 10px 0 10px;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-align: center;
                color: #043A53;
                font-size: 20px;
                margin-bottom: 14px; 
                font-size: 18px;
                font-weight: 700;
            }
            .hero-buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 0 100px 0 100px;
                width: 100%;
                @media (max-width:760px) {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    padding: 20px 0px 20px 0px;
                }
                .play{
                    background: #043A53;
                    border-radius: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 16px 16px 21px;
                    border: none;
                    display: flex;
                    cursor: pointer;
                    .play-text{
                        margin-top: 10px;
                    }
                   img{
                    width: 16px;
                    height: 16px;
                   }
                }
               
                .btn-primary{
                    padding: 15px 25px 15px 25px;
                    background-color: #043A53;
                    color: white;
                    box-shadow: 0px 23px 47px 0px rgba(4, 58, 83, 0.24);
                    border-radius: 25px;
                    font-size: 18px;
                    font-weight: 700;
                    outline: none;
                    border: none;
                }
            }
        }
        .hero-image-mobile{
            display: none;
            @media (max-width:760px) {
                display: flex;
                flex-direction: row;
            }
        }
        .hero-images{
            margin-top: 100px;
            @media (max-width:760px) {
                display: none;
            }
        }
        img{
            width: 200px;
            height: 340px;
        }
    }
}