/* Global Styles */

/* Define color palette using CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --background-color: #F2F5F6;
    --text-color: #333;
}

/* Apply global styles */
* {
    font-family:'Lato','sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header section */
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 10px;
    background-color: #F2F5F6;
    .mobile-menu-links{
        display: none;
        @media (max-width:760px) {
            display: flex;
            .fa-bars{
                width: 24px;
                height: 24px;
            }
        }
    }
    .header-logo{
        img{
            width: 158px;
            height: 24px;
        }
    }
    .header-links{
        ul{
            gap: 50px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            li{
                line-height: 1;
                color: #313441;
                font-size: 16px;
                font-weight: 700;
            }
        }
        @media (max-width:760px) {
            display: none;
        }
    }
    .header-buttons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        .login-button{
            color: #12141D;
            background-color: white;
            border: none;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 25px;
            border-radius: 30px;
            cursor: pointer;
        }
        .sign-up-button{
            background-color: #043A53;
            border: none;
            font-size: 16px;
            font-weight: 600;
            color: white;
            padding: 15px 20px;
            border-radius: 30px;
            cursor: pointer;
        }
        @media (max-width:760px) {
            display: none;
        }
    }
}
/* Hero Section */

.hero{
    display: flex;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F6;
    .hero-content{
        display: flex;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
        @media (max-width:760px) {
            display: flex;
            flex-direction: column;
        }
        .hero-headings{
            @media (max-width:760px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
            h1{
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                letter-spacing: -2%;
                span{
                    color: #043A53;
                }
            }
            p{
                padding: 0 10px 0 10px;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-align: center;
                color: #043A53;
                font-size: 20px;
                margin-bottom: 14px; 
                font-size: 18px;
                font-weight: 700;
            }
            .hero-buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 0 100px 0 100px;
                width: 100%;
                @media (max-width:760px) {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    padding: 20px 0px 20px 0px;
                }
                .play{
                    background: #043A53;
                    border-radius: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 16px 16px 21px;
                    border: none;
                    display: flex;
                    cursor: pointer;
                    .play-text{
                        margin-top: 10px;
                    }
                   img{
                    width: 16px;
                    height: 16px;
                   }
                }
               
                .btn-primary{
                    padding: 15px 25px 15px 25px;
                    background-color: #043A53;
                    color: white;
                    box-shadow: 0px 23px 47px 0px rgba(4, 58, 83, 0.24);
                    border-radius: 25px;
                    font-size: 18px;
                    font-weight: 700;
                    outline: none;
                    border: none;
                }
            }
        }
        .hero-image-mobile{
            display: none;
            @media (max-width:760px) {
                display: flex;
                flex-direction: row;
            }
        }
        .hero-images{
            margin-top: 100px;
            @media (max-width:760px) {
                display: none;
            }
        }
        img{
            width: 200px;
            height: 340px;
        }
    }
}
/* Trusted Section */
.trusted-section {
    display: grid;
    flex:1;
    grid-template-columns: repeat(6, 1fr); 
    gap:100px;
    padding: 30px 200px 30px 200px;
    justify-content: center;
    align-items: center;
    @media (max-width: 760px) {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto auto; 
        gap: 30px;
        padding: 20px;
        text-align: center;
        .logos:nth-child(2),
        .logos:nth-child(3),
        .logos:nth-child(4) {
            grid-template-columns: 2;
        }

        .logos:nth-child(5),
        .logos:nth-child(6) {
            grid-template-columns: 2;
            
        }
    }
    .trusted-text{
        width: 100%;
        p{
            font-size: 16px;
            font-weight: 500;
            color: #000000;
            white-space: nowrap; 
        }
        @media (max-width:760px) {
            grid-column: span 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 97px;
            height: 30px;
        }
        @media (max-width:760px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
            grid-template-columns: 2;
        }
        :nth-child(5),
        :nth-child(6) {
            grid-template-columns: 2;
            
        }
        }
    }
    .google{
        img{
            width: 98px;
            height: 32px;
            @media (max-width:760px) {
                width: 68px;
                height: 32px;
            }
        }
    }
    .atlassian{
        img{
            width: 136px;
            height: 18px;
            @media (max-width:760px) {
                width: 105px;
                height: 15px;
            }
        }
    }
    .canon{
        img{
            width: 96px;
            height: 20px;
            @media (max-width:760px) {
                width: 77px;
                height: 16px;
            }
        }
    }
    .walmart{
        @media (max-width:760px) {
            display: flex;
            justify-content: center;
            align-items: center;
         }
        img{
            width: 96px;
            height: 20px;
            @media (max-width:760px) {
                width: 88px;
                height: 22px;
            }
        }
    }
    .amazon{
        @media (max-width:760px) {
           display: flex;
           justify-content: center;
           align-items: center;
        }
        img{
            width: 96px;
            height: 30px;
            @media (max-width:760px) {
                width: 63px;
                height: 20px;
            }
        }
    }
}

/* video section */
.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #043A53;
    .video-content{
        padding: 40px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        h1{
            color: #FFFFFF;
            font-size: 60px;
            font-weight: 600;
            span{
                color: #F0B73F;
            }
        }
        p{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            @media (max-width:760px) {
                width: 100%;
            }
        }
        @media (max-width:760px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .video-image{
        img{
            width: 1120px;
            height: 640px;
            @media (max-width:760px) {
                width: 330px;
                height: 185px;
            }
        }
    }
}
.benifits-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 25px;
    padding: 50px 200px;
    @media (max-width:980px) {
        flex-direction: column;
        padding: 25px 30px;
    }
    img{
        width: 95px;
        height: 85px;
    }
    .benificial{
        display: flex;
        flex-direction: column;
        gap: 25px;
        .benificial-badge{
            border-radius: 40px;
            font-size: 18px;
            background-color: #043A53;
            color: white;
            display: flex;
            width: 120px;
            padding: 5px 10px;
            justify-content: center;
            text-align: left;
        }
        h1{
           
            color: #12141D;
            font-weight: 700;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: -0.02em;
        }

    }
    .happy-costumers{
        padding: 10px;
        margin-left: 50px;
        background-color: #F2F5F6;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width:760px) {
          margin: 0;  
          padding: 25px;
        }
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0%;
            color: #404040;
        }
    }
    .best-integrations{
        padding: 10px;
        background-color: #F2F5F6;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width:760px) {
            margin: 0;  
            padding: 25px;
          }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0%;
            color: #404040;
        }
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
        }
    }
    .grow-without-problems{
        padding: 10px;
        background-color: #F2F5F6;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width:760px) {
            margin: 0;  
            padding: 30px;
          }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0%;
            color: #404040;
        }
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
        }
    }
}